.modal {
  position: absolute;
  z-index: 1;
  border: 1px solid #ccc;
  background: white;
}

/* Animation */

.modal-anim-enter {
  opacity: 0.00;
  transform: scale(0.7);
  transition: all 0.2s;
}

.modal-anim-enter.modal-anim-enter-active {
  opacity: 1;
  transform: scale(1);
}

.modal-anim-leave {
  opacity: 1;
  transform: scale(1);
  transition: all 0.2s;
}

.modal-anim-leave.modal-anim-leave-active {
  opacity: 0.00;
  transform: scale(0.7);
}

.mask {
  position: fixed;
  height: 100%;
  background: rgba(55, 55, 55, 0.6);
  top:0;
  left:0;
  right:0;
  bottom:0;
}

.resizer {
  position:absolute;
  right:0;
  bottom:0;
  cursor:se-resize;
  margin:5px;
  border-bottom: solid 2px #333;
  border-right: solid 2px #333;
}

.drag-area{
  background: rgba(22, 22, 333, 0.2);
  height: 50px;
  position:absolute;
  right:0;
  top:0;
  cursor:move;
}